<label for="location">Digita un numero hasta 126:</label>

<input type="number" #idLocation>
<button (click)="getLocation(idLocation.value)">Traer Locación</button>

<div class="card" style="width: 18rem;">

    <div class="card-body">
      <!-- <img [src]="locationInfo.image" alt=""> -->
      <h5 class="card-title">{{ locationInfo.name }}</h5>
      <p class="card-text">{{ locationInfo.type }}</p>
      <p class="card-text">{{ locationInfo.residents }}</p>
      <p class="card-text">{{ locationInfo.residents.elemento }}</p>
    </div>
  </div>